.scrollComponent{
    display: flex;
  justify-content: center;   
}

.createPostContainer{
   display: flex;
   height: 10svh;
   width: 100%;
   padding-inline: 0.8rem;
   gap: 1.3rem;
   position: relative;
   align-items: center;
   background: rgb(255, 244, 244);
   border-radius: 20px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    max-width: 80%;
}

.uploadButton{
   position: absolute;
   right: 0;
   bottom: -50%;
   background: rgb(2, 93, 158);
   color: white;
   border-radius: 7px;
   padding-inline: 1.0rem;
   padding-block: 0.6rem;
   cursor: pointer;
}

.userProfile{
 width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 2px solid #ddd;

}
.createPostContainer > textarea{
    width: 100%;
}

.Fab{
    background: rgb(1, 12, 128);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}
.Fab > svg{
    width: fit-content;
    height: 40px;
    color: white;
    cursor: pointer;
}
.textAreaOfContent{
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}

.singleCard{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid rgb(179, 179, 179);

}


.singleCard_profileContainer{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
    padding: 1.2rem;
    padding-right: 3.4rem;
}
.singleCard_profileContainer > img{
    width: 10%;
    border-radius: 50%;
}
.singleCard_image{
    width: 100%;
    padding-top: 0.6rem;
    height: fit-content;
    overflow: hidden;
}
.singleCard_image > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
}

.optionsContainer{
    display: flex;
    height: 20%;
    /* gap: ; */
    width: 100%;
    justify-content: space-between;
    padding-block: 0.6rem;

}
.singleOption_optionsContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    cursor: pointer;
}
.singleOption_optionsContainer > svg{
  height: 100%;
  width: 10%;
  min-width: 1rem;
}

.commentsContainer{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0 , 0.7);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allCommentsContainer{
    width: 40vw;
    max-width: 1120px;
    height: 80vh;
    background: white;
    border-radius: 10px;
    position: relative;
    padding: 1.4rem;
}
.postCommentConatiner{
    position: absolute;
    bottom: 1.2rem;
    left: 1.2rem;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.postCommentConatiner > input{
    flex: 0.9;
    padding: 1.2rem;
    padding-block: 1.2rem;
    border: none;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    outline: none;
}
.postCommentConatiner > input:focus{
    border: silver 1px solid;
}

.postCommentConatiner_commentBtn{
    flex: 0.1;
    width: fit-content;
    padding: 1.0rem;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: white;
}


@media screen and (max-width: 600px) {
    .allCommentsContainer{
        width: 90vw;
        height: 90vh;

    }
}
@media screen and (max-width: 600px) {
  .userProfile {
    width: 40px;
    height: 40px;
  }
}